@import "lpe/variables";
@import "bootstrap";
@import "lpe/bootswatch";
@import "../css/materialdesignicons.css";
@import "../css/material-design-iconic-font.css";
@import "../css/font-awesome.css";
@import 'https://fonts.googleapis.com/css?family=Slabo+27px';
@import "../css/fontslpe.css";

// @font-face {
//     font-family: 'PF Beau Sans Pro';
//     src: url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Bold.eot?78703725");
//     src: url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Bold.eot?78703725#iefix") format("embedded-opentype"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Bold.woff?78703725") format("woff"), url("../fonts/pfbeausanspro/PFBeauSansPro-Bold.ttf?78703725") format("truetype"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Bold.svg?78703725#pfbeausanspro") format("svg");
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'PF Beau Sans Pro';
//     src: url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-SemiBold.eot?78703725");
//     src: url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-SemiBold.eot?78703725#iefix") format("embedded-opentype"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-SemiBold.woff?78703725") format("woff"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-SemiBold.ttf?78703725") format("truetype"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-SemiBold.svg?78703725#pfbeausanspro") format("svg");
//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'PF Beau Sans Pro';
//     src: url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Bbook.eot?78703725");
//     src: url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Bbook.eot?78703725#iefix") format("embedded-opentype"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Bbook.woff?78703725") format("woff"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Bbook.ttf?78703725") format("truetype"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Bbook.svg?78703725#pfbeausanspro") format("svg");
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'PF Beau Sans Pro';
//     src: url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Regular.eot?78703725");
//     src: url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Regular.eot?78703725#iefix") format("embedded-opentype"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Regular.woff?78703725") format("woff"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Regular.ttf?78703725") format("truetype"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Regular.svg?78703725#pfbeausanspro") format("svg");
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'PF Beau Sans Pro';
//     src: url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Light.eot?78703725");
//     src: url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Light.eot?78703725#iefix") format("embedded-opentype"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Light.woff?78703725") format("woff"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Light.ttf?78703725") format("truetype"), url("https://www.santafe.gob.ar/assets/standard/fonts/pfbeausanspro/PFBeauSansPro-Light.svg?78703725#pfbeausanspro") format("svg");
//     font-weight: 300;
//     font-style: normal;
// }



* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family:"PF Beau Sans Pro"
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -268px;
    /* the bottom margin is the negative value of the footer's height */
}

.push {
    height: 268px;
    /* .push must be the same height as .footer */
}

.footer {
    height: 188px;
    // border-top: 50px solid #FFF;
    margin-top: 80px;
    text-align: center;
    background-color: #ababab;
    .img-logo {
        height: 100px;
        margin: -50px auto 10px;
    }
}


.mce-content-body{
    padding: 8px;
    font-size: 15px;
}
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.g-recaptcha{
    margin: 0 auto;
    width: 50%;
}

.ui-datepicker-year, .ui-datepicker-month{
    color: #000
}

#listaSecciones .form-group textarea {
    margin-bottom: 15px;
}

.navbar {
    margin-top: 10px;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-bottom-colors {
    background-image: url("../img/tramasf.jpg");
    height: 6px;
    margin-bottom: 30px;
    background-repeat: repeat-x;
    background-position: center top;
}
.barra-footer{
    background-image: url("../img/tramasf.jpg");
    height: 6px;
    background-repeat: repeat-x;
    background-position: top top;
}

@media (min-width: 768px){
.navbar-nav > li > a {
    padding-top: 30.5px;
    padding-bottom: 10.5px;
}
}

// @media (min-width: 768px){
// nav .navbar-nav li a{
//     padding-top: 15px;
//     padding-bottom: 15px;
// }
// }
// .navbar-nav li a {
//     line-height: 34px;
// }
a.navbar-brand {
    padding: 16px 15px 14px;
}
ul.nav.navbar-nav{
    text-transform: uppercase;
    font-size: 14px;
}
ul.nav.navbar-nav.navbar-right{
    text-transform: capitalize;
    font-size: 13px;
}


.cuadro1 {
    background-image: url("https://material-design.storage.googleapis.com/publish/material_v_8/material_ext_publish/0Bx4BSt6jniD7OFZFR1ZOUmFWTEE/style_icons_system_intro.png");
    height: 100px;
}

//
figure {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    // margin: 0 20px 20px 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #FFF;
    }
}

.cuadro2 {
    background-color: #2e2e2e;
    height: 200px;
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    ;
}

figcaption {
    position: absolute;
    background: black;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px 20px;
    opacity: 0;
    line-height: normal;
    font-size: 13px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

figure:hover figcaption {
    opacity: 1;
}

figure:before {
    content: '\f256';
    font-family: 'FontAwesome';
    position: absolute;
    font-weight: 800;
    background: black;
    background: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 5px white;
    color: #444;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    -moz-transition: all 0.6s ease;
    opacity: 0.75;
}

figure:hover:before {
    opacity: 0;
}

.cap-left:before {
    bottom: 10px;
    left: 10px;
}

.cap-left figcaption {
    bottom: 0;
    left: -30%;
}

.cap-left:hover figcaption {
    left: 0;
}

.cap-right:before {
    bottom: 10px;
    right: 10px;
}

.cap-right figcaption {
    bottom: 0;
    right: -30%;
}

.cap-right:hover figcaption {
    right: 0;
}

.cap-top:before {
    top: 10px;
    left: 10px;
}

.cap-top figcaption {
    left: 0;
    top: -30%;
}

.cap-top:hover figcaption {
    top: 0;
}

.cap-bot:before {
    bottom: 10px;
    left: 10px;
}

.cap-bot figcaption {
    left: 0;
    bottom: -30%;
}
.cap-bot{
//     background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, 0)),to(rgba(0, 0, 0, 0.4)));
// background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0.4) 100%);
// background-image: -o-linear-gradient(top,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0.4) 100%);
// background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0.4) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.4)', GradientType=0);
    padding: 20px 3px 20px;
    height:170px;
    h5{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        letter-spacing: -1px;
        color: #FFF;
    }
}

.cap-bot:hover figcaption {
    bottom: 0;
}

.grid-sizer,
.grid-item {
    border: 2px solid #FFF;



        background-color: #6f5499;
background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    h6{text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); font-weight: 100;}
    @media (max-width: $screen-xs-max) {
        width: 100%;
        
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: 50%;
        
    }
    @media (min-width: $screen-md-min) {
        width: 23%;
        margin: 10px 1%;
    }
    &.w2{
      @media (min-width: $screen-md-min) {
        width: 40%;

    }  
    }
}


/* 2 columns */

.grid-item--width2 {
    width: 20%;
}

// AJAJAJA

#body-editor{
    font-size: 14px;
    line-height: 21px
}


// CREAR DERECHO
input[type=text].form-control.input-lg,
textarea.form-control.input-lg {
    font-size: 30px
}

.bolder{
    font-weight: 700;
}

#crearDerecho{
.titulo-derecho-background{
    background-position: center center;
    background-size: cover;
margin-bottom:40px;
.overlay{
    background: rgba(0,0,0,0.3); 
    padding: 100px 0;
}
textarea{
    color:#FFF;
    background-color: none;
    font-size: 56px;
    text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
font-weight: 700;
line-height: normal;
resize: none;
margin: 23px 0 11.5px;
}
}
textarea.accion{
    font-size: 19.5px;
    line-height: 27.3px;
    font-weight: 300;
    padding:0 0 10px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
}

article{

.titulo-derecho-background {
    
color: #cdbfe3;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
margin-bottom:40px;
background-size: cover;
background-position: center center;
h1{color:#FFF;}
.overlay{
    // background: rgba(0,0,0,0.3); 
    padding: 100px 0;
}
}
#derecho #descripcion{
    font-size: 14px;
      line-height: 21px;
}
span.badge{
    background-color: $brand-primary;
}
#nav-derechos.affix{
    top:30px
}

#nav-derechos > a{
    padding: 10px
}
p{
      font-size: 14px;
      line-height: 21px;
}
img.size32{
    width: 32px;
}
p.comentario{
    font-size: 12px;
    line-height: 1.5;
}
textarea.comentario{
    resize: vertical;
}
}

// article{
// span.badge{
//     background-color: $brand-primary;
// }
// #nav-derechos.affix{
//     top:30px
// }

// #nav-derechos > a{
//     padding: 10px
// }
// p.intro{
//     font-size: 20px;
//     line-height: 28px;
//     font-family: 'Slabo 27px', serif;
//     color: $gray-darker;
// }

// .body-seccion p{
//     font-size: 16px;
//     line-height: 20px;
//     font-family: 'Slabo 27px', serif;
//     color: $gray-darker;
// }

// p.comentario{
//     font-size: 12px;
//     line-height: 1.5;
// }
// textarea.comentario{
//     resize: vertical;
// }
// }


.tag-opinion{
    padding:0;
    text-align: center;
    img{
        left:0;
    }

    .overlay{
        background: rgba(0,0,0,0.2);
        padding: 15px;
    }
    h5{
    color: #FFF;
    }
    a:hover{
        text-decoration: none;
        
    }
}

// ================

.opinionModal .descripcion{
    font-size: 14px;
      line-height: 21px;
}


// --------------------

.header-opinion{
    border-radius: 5px;
    background-size:cover;
    margin-bottom: 20px;
    .overlay{
        background: rgba(0,0,0,0.4);
        padding: 40px 0 55px;
        border-radius: 5px;
    }
    h3{
    color: #FFF;
    } 

}

// ------------------------

.editor-area{
    font-size: 14px;
}

#modificarInicio{
    textarea[name=titulo]{
        font-size:56px;
        font-weight:700;
        text-align:center;
        line-height: 62px;
        padding:10px;
        resize:none;
        margin-bottom:15px;
        color: #444;
    }
    textarea[name=descripcion]{
    font-size: 19.5px;
    line-height: 27.3px;
    font-weight: 300;
    padding:0 0 10px;
    text-align: center;
    resize:none;
    }
}

#myCarousel{
    .conoce{
        color:#FFF; padding-top:20px; margin: 0;
        text-shadow: 0 1px 0 rgba(0,0,0,.1);
        
    }
    .embed-responsive{
        // margin: 20px 0 40px;
    }
}

// ===========================

.twitter-typeahead{
    width: 100%;
}

// ==================================

$c1 : #6f5499;
$c2 : #00a73d;
$c3 : #00cbdc;
$c4 : #ff5400;
.bgcolor0{
    background-color: $c1;
background-image: -webkit-gradient(linear,left top,left bottom,from(darken($c1,20%),to($c1)));
background-image: -webkit-linear-gradient(top,darken($c1,20%) 0,$c1 100%);
background-image: -o-linear-gradient(top,darken($c1,20%) 0,$c1 100%);
background-image: linear-gradient(to bottom,darken($c1,20%) 0,$c1 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darken($c1,20%)', endColorstr='$c1', GradientType=0);
background-repeat: repeat-x;
}
.bgcolor1{
    background-color: $c2;
background-image: -webkit-gradient(linear,left top,left bottom,from(darken($c2,20%),to($c2)));
background-image: -webkit-linear-gradient(top,darken($c2,20%) 0,$c2 100%);
background-image: -o-linear-gradient(top,darken($c2,20%) 0,$c2 100%);
background-image: linear-gradient(to bottom,darken($c2,20%) 0,$c2 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darken($c2,20%)', endColorstr='$c2', GradientType=0);
background-repeat: repeat-x;
}
.bgcolor2{
    background-color: $c3;
background-image: -webkit-gradient(linear,left top,left bottom,from(darken($c3,20%),to($c3)));
background-image: -webkit-linear-gradient(top,darken($c3,20%) 0,$c3 100%);
background-image: -o-linear-gradient(top,darken($c3,20%) 0,$c3 100%);
background-image: linear-gradient(to bottom,darken($c3,20%) 0,$c3 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darken($c3,20%)', endColorstr='$c3', GradientType=0);
background-repeat: repeat-x;
}
.bgcolor3{
    background-color: $c4;
background-image: -webkit-gradient(linear,left top,left bottom,from(darken($c4,20%),to($c4)));
background-image: -webkit-linear-gradient(top,darken($c4,20%) 0,$c4 100%);
background-image: -o-linear-gradient(top,darken($c4,20%) 0,$c4 100%);
background-image: linear-gradient(to bottom,darken($c4,20%) 0,$c4 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darken($c4,20%)', endColorstr='$c4', GradientType=0);
background-repeat: repeat-x;
}

.list-group-item.active .list-group-item-text{
    color: #FFF;
}
.list-group-item .list-group-item-text{
    color: #999;
}

ul.socialmedia li a{
    color: #757575;
    font-size:24px;
}
ul.socialmedia{
    margin-bottom: 0;
}
.lastfoot{
        font-size: 14px;
    line-height: normal;
    color: #FFF;
}

.inicio-banner{
    background-image: url("../../img/banner.jpg");
    background-size: cover;
    background-position: bottom center;
    color: #FFF;
    margin-bottom:30px;
    padding: 0 0;
    .overlay-banner{
    padding: 50px 15px;

        background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, 0)),to(rgba(0, 0, 0, 0.2)));
background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0.2) 100%);
background-image: -o-linear-gradient(top,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0.2) 100%);
background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0.2) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.2)', GradientType=0);
    }
    h1{    
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
        letter-spacing: -1.4px;
        color: #FFF;
        }
    .descripcion{
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
color: rgb(255, 255, 255);
margin-bottom: 0;
    }
}